@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Poppins:wght@500&display=swap');
@import url("components/cards.css");

html {
  scroll-behavior: smooth;
}

:root {
  --animation-timing: 1s;
  --orange:  #DAA520;
  --light: hsl(16, 99%, 99%);
  --dark: hsl(16, 99%, 1%);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.menu .item {
  margin-left: 1rem;
}

.menu .link {
  color: #1E1E1E;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  justify-content: center;
  align-items: center;
}

.menu .link::after {
  content: "";

  display: block;
  height: 0.1rem;
  background: var(--orange);

  transform: scale(0);
  transition: transform var(--animation-timing);
}

.menu .link:hover::after {
  transform: scale(1);
  transform-origin: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}







body {
  background-color: white;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 48px;
  height: 90px;
  flex-shrink: 0;
  border-bottom: 1px solid #E7E7E7;
  background: #FFF;
  position: sticky;
  top: 0;
}

.text_banner {
  color: #1E1E1E;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0 16px;
  text-decoration: none;
}

.text_banner:hover {
  text-decoration: underline;
}

.text_banner:active {
  color: #DAA520;
}

.text_banner_yellow {
  color: white;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 16px 0px;
  background: var(--Gold, #DAA520);
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.text_banner_yellow:hover {
  background: #cf9502;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.container {
  padding: 3% calc(0.515*100%/5);
  width: calc(4*100%/5);
  background-image: url(../images/Octave_icon_BKG1.svg), url(../images/Octave_icon_BKG2.svg);
  background-position: right 0px bottom 1000px, left 0px top 450px;
  background-repeat: no-repeat, no-repeat;
}

.vlines {
  min-height: 100%;
  background:
    linear-gradient(#F0F0F0 0 0) calc(0.515*100%/5),
    linear-gradient(#F0F0F0 0 0) calc(1.848*100%/5),
    linear-gradient(#F0F0F0 0 0) calc(3.181*100%/5),
    linear-gradient(#F0F0F0 0 0) calc(4.515*100%/5);
  background-size: 1px 100%;
  background-repeat: no-repeat;
}

.hero {
  display: inline-flex;
  padding: 80px 0px;
  justify-content: flex-end;
  align-items: center;
  gap: calc(0.515*100%/5);
  border: 0px solid black;
}

.hero_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border: 0px solid black;
}

.hero_left img {
  width: calc(2.5*1.33*100%/5);
  margin-top: 0px;
}

.hero_right {
  border-radius: 80px 0px;
  border: 0px solid black;
  width: calc(1.1*100%/5);
  height: 700px;
  padding-right: calc(1.37*100%/5);
  background-image: url(../images/Image_familly.svg);
  background-repeat: no-repeat;
}

.bkg_black {
  background: #232323;
  display: flex;
  margin: 0px 0px;
  padding-bottom: 88px;
  padding-top: 88px;
  padding-left: 88px;
  padding-right: 88px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: left;
  align-self: stretch;
  gap: 68px;
  border: 0px solid white;
}

.card img {
  height: auto;
}

.desc_avocate {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 0px solid white;
}

.desc_name {
  border: 0px solid white;
}

.education {
  border: 0px solid white;
}

.experience {
  border: 0px solid white;
}

.competences {
  display: flex;
  color: black;
  margin: 0px 0px;
  padding-bottom: 88px;
  padding-top: 88px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

p {
  color: var(--Deep-Dark, #1E1E1E);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

h1 {
  color: #1E1E1E;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

h3 {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
}

#black {
  color: black;
  align-self: flex-start;
}

h4 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  padding: 0px 0px;
  margin: 0px 0px;
}

h5 {
  align-self: stretch;
  color: var(--Gold, #DAA520);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0px 0px;
  margin: 0px 0px;
}

h6 {
  align-self: stretch;
  color: #8B949C;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 0px;
  margin: 0px 0px;
}

#h6_black {
  color: black;
  align-self: flex-start;
}

h7 {
  align-self: stretch;
  color: #FFF;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

#h7_grey {
  color: #8B949C;
  align-self: stretch;
}

h8 {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
}

.bkg_black_left_aligned {
  background: #232323;
  display: flex;
  margin: 0px Opx;
  padding-bottom: 88px;
  padding-top: 88px;
  padding-left: 88px;
  padding-right: 88px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.contact {
  background-image: url("../images/map.svg");
  background-size: cover;
  display: flex;
  margin: 80px 0px;
  padding-bottom: 88px;
  padding-top: 88px;
  padding-left: 88px;
  padding-right: 88px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 300px;
  gap: 40px;
  flex-shrink: 0;
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

a {
  color: var(--Deep-Dark, #1E1E1E);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  text-decoration: underline;
}

.white_bkg {
  background: white;
  width: 275px;
  height: 574px;
  position: relative;
  top: 45px;
  left: 20px;
  border-radius: 80px 0px 0px 0px;
  border: 0px solid grey;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  background: #232323;
  display: flex;
  margin: 0px 0px;
  padding-bottom: 80px;
  padding-top: 80px;
  padding-left: calc(0.515*100%/5);
  padding-right: 190px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}

.footer2 {
  background: #232323;
  display: flex;
  margin: 0px 0px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 190px;
  padding-right: 190px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h9 {
  color: #8B949C;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

ul {
  margin: 0px 0px;
  padding: 0px 0px;
}

.white {
  color: white;
  text-decoration: none;
  padding: 0px 0px;
  line-height: 300%;
}

label {
  display: none;
}
label, #toggle {
  display: none;
}

@media (max-width: 540px) {
  .container {
    width: auto;
  }

  .bkg_black {
    background: #232323;
    display: flex;
    margin: 0px 3%;
    padding: 15% 3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .card {
    display: block;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    gap: 68px;
    border: 0px solid white;
  }

  .card img {
    width: 100%;
    padding-bottom: 40px;
  }

  .cards_grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 0px;
    gap: 72px;
    flex-grow: 1;
  }

  .hero {
    display: block;
    padding: 80px 3%;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    border: 0px solid black;
  }

  .bkg_black_left_aligned {
    display: flex;
    margin: 0px 3%;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 40px;
  }

  .competences {
    display: block;
    padding-left: 3%;
    padding-right: 3%;
  }

  h3 {
    text-align: left;
  }

  .footer {
    display: block;
    margin: 0px 0px;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 32px;
  }

  .footer2 {
    display: block;
    margin: 0px 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h8 {
    text-align: left;
  }

  nav {
    height: 60px;
  }

  nav .menu {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: white;
        height: 320px;
    }

    nav .menu a {
        width: 100%;
        height: auto;
        position: relative;
        top: 125px;
    }

  label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: black;
    cursor: pointer;
  }

  #toggle:checked + .menu {
    display: flex;
  }

}
